*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin: auto;
}
header{
    height: 120px;
    font-size: 25px;
    padding: 20px;
    background: #3a251c;
    text-align: center;
    color: white;
}
 

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #b46424;  
    font-size: 18px;
}

nav a{
    text-align: center;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover{
    color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

aside{
    background-color: #b58c7c;
    flex: 40px;
    padding: 20px;
}
#fuerasection-titulo{
    color: white;
    font-size: 18px;
    text-align: center;
        }

aside li{    
    color: white;
    font-size: 15px;
    line-height: 40px; 
    text-align: justify;
}

section{
    flex: 60%;
    background:  #362f2f;
    padding: 20px;
    margin-right: 2px;
}
#seccion-titulo{
    text-align: justify;
    font-size: 25px;
    color: white;
}
section h2{
    color: white;
    text-align: justify;
    font-size: 18px;
}
section p{
    color: white;
    text-align: justify;
    font-size: 18px;
}
section img{
    margin-top: 40px;
}
  
#footer{
    text-align: center;
    padding: 20px;
    background-color: #3a251c;
}
#titulo-footer{
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 700px) {

    nav,.row{
        flex-direction: column;
    }

    section{
        margin-right: 0px;
    }
}

    img{
        width: 100px;
        height: 100px;
        border: 1px;
        margin: 5px 5px;
        text-align: center;
    }
    